{% extends 'base.html' %}

{% block content %}
  <h2>Delete Category</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{% if category == 'danger' %}danger{% elif category == 'success' %}success{% endif %}">
        {{ message }}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <p>Are you sure you want to delete the category "{{ category.name }}"?</p>

  <div class="d-flex justify-content-left mt-3">
    <form method="POST" action="{{ url_for('delete_category_execution', category_id=category.id) }}">
      
      <button type="submit" class="btn btn-danger mr-5">Delete</button>
  </form>
  

  <form method="get" action="{{ url_for('admin_categories') }}">
    <button type="submit" class="btn btn-primary">Cancel</button>
  </form>
</div>



{% endblock %}
